<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/pages/maintenance.css" />
</head>

<body>
    <main>
        <img src="images/maintenance.png" height="200" class="main">
        <h1>Oups... Le site est en maintenance.</h1>
        <p>
            <span>Suivez-nous</span> sur notre discord pour connaître les prochaines annonces et avoir toute les informations en cas de problème.
        </p>
        <section class="content">
            <img src="images/icons/discord.png">
            <a href="#">Rejoingnez-nous sur Discord !</a>
        </section>
    </main>