// Global variables

$default_transitionEffect: 0.3s ease;
$default_fontFamily: "Poppins", sans-serif;
$default_fontSize: 1.035rem;

// Colors

$primary: hsl(44, 88%, 66%);
$primaryDark: hsl(60, 1%, 14%);
$secondaryDark: hsl(120, 2%, 25%);
$primaryLight: hsl(81, 28%, 90%);
$secondaryLight: hsl(150, 14%, 84%);
