@import "./variables";

@mixin centerAll {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin removeVisibility {
  opacity: 0;
  visibility: hidden;
  transition: $default_transitionEffect;
}

@mixin addVisibility {
  opacity: 1;
  visibility: visible;
}
