@import 'colors';
@import 'functions';
@import 'helpers';

.button {
  @extend %input;

  height: 55px;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  padding: 0 50px;
  width: 100%;
  text-transform: uppercase;
  background: linear-gradient(
    -200deg,
    rgba(custom-map-get($colors, 'primary', 600), 100%),
    rgba(custom-map-get($colors, 'primary', 600), 60%)
  );

  &:hover {
    box-shadow: 0 0 30px rgba(custom-map-get($colors, 'primary', 600), 30%);
  }

  &:disabled {
    opacity: 0.25;
    cursor: not-allowed;

    &:hover {
      box-shadow: unset;
    }
  }
}
