$colors: (
  primary: (
    200: hsl(0, 97%, 76%),
    400: hsl(0, 97%, 66%),
    600: hsl(0, 97%, 56%),
  ),
  secondary: (
    200: hsl(0, 1%, 37%),
    400: hsl(0, 1%, 27%),
    600: hsl(0, 1%, 17%),
    800: hsl(0, 1%, 7%),
  ),
);
