    <footer>
        <section class="top">
            <article class="one">
                <h2 id="title">À propos de Tigrouland</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In earum ab fuga at magnam totam dicta.</p>
            </article>
            <article class="two">
                <h2 id="title">Liens utiles</h2>
                <ul>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Boutique</a></li>
                    <li><a href="#">Forum</a></li>
                    <li><a href="#">F.A.Q</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </article>
            <article class="three">
                <h2 id="title">Contact</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit :</p>
                <ul>
                    <li><a href="#"><img src="images/icons/discord.png"></a></li>
                    <li><a href="#"><img src="images/icons/twitter.png"></a></li>
                    <li><a href="#"><img src="images/icons/instagram-sketched.png"></a></li>
                </ul>
            </article>
        </section>
        <section class="bottom">
            <p>Copyright &copy; 2020 Tigrouland - Tous droits réservés.</p>
        </section>
    </footer>
</body>
</html>