@use "../../styles/abstracts/mixins" as *;
@use "../../styles/abstracts/variables" as *;
@use "../../styles/utilities" as *;

.navigationbar {
  position: relative;

  .container {
    @include displayFlex(center, space-between, row);
    @extend %container;

    .tab_nav {
      position: relative;

      .logo {
        @include displayFlex(center, center, row);

        &_text {
          margin-left: 8px;
          margin-top: 5px;
          color: var(--clr-secondary-800);
          transition: $default_transitionEffect;
        }
      }
    }

    .button {
      display: none;
      cursor: pointer;
      z-index: 100;
      transition: $default_transitionEffect;
      stroke: red;
    }

    .nav_links {
      @include displayFlex(center, center, row);
      position: relative;
      list-style: none;
      height: fit-content;

      .nav_item {
        margin: 10px;

        &.directory {
          @include pseudoElement(before, 2px, 25px) {
            @extend .notvisible;
            background-color: var(--clr-secondary-800);
            transform: translate(-50%, 5px);
            transition: $default_transitionEffect;
            left: 50%;
            bottom: -5px;
          }

          &:hover {
            @include pseudoElement(before, 2px, 25px) {
              @extend .visible;
              transform: translate(-50%, 0px);
            }
          }
        }

        .nav_link {
          padding: 15px;
          text-decoration: none;
          color: var(--clr-secondary-800);
          transition: $default_transitionEffect;

          &:hover {
            color: var(--clr-secondary-1000);
          }
        }

        .nav_button {
          outline: none;
          background: none;
          border: none;
          cursor: pointer;
          margin-left: 20px;
          padding: 5px;
          transition: $default_transitionEffect;
          color: var(--clr-secondary-800);

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .navigationbar .container {
    @include displayFlex(center, center, column);

    & .button {
      display: block;
    }

    & .tab_nav {
      @include displayFlex(center, space-between, row);
      padding: 0 20px;
      width: 100%;
    }

    & .nav_links {
      height: 0;
      opacity: 0;
      visibility: hidden;
      overflow: hidden;
      padding: 0 25px;
      flex-direction: column;
      transition: $default_transitionEffect;

      & .nav_item {
        margin: 20px 0;

        & .nav_link {
          color: var(--clr-secondary-800);
          padding: 20px 100px;

          &:hover {
            color: var(--clr-secondary-1000);
          }
        }

        &.directory::before {
          background-color: var(--clr-secondary-800);
        }
      }

      & .nav_item .nav_button {
        margin-left: 0;
      }
    }
  }
}
