@import "settings";

/*  Navigation Bar  */

nav {
  width: 100vw;
  padding: 0 50px;

  .nav_container {
    @include displayFlex(space-between, center, row);
    @extend %container;
    padding: 30px 0;

    .list_items {
      @include displayFlex(center, center, row);
      list-style: none;

      .item {
        padding: 10px;
        transition: 0.3s ease;
      }
    }

    @media screen and (max-width: 650px) {
      flex-direction: column;

      .list_items {
        margin-top: 20px;
      }
    }
  }
}

main {
  width: 100vw;
  padding: 0 50px;
  margin: 50px 0;

  .main_container {
    @include displayFlex(space-between, center, row);
    @extend %container;

    .left_side {
      margin-right: 100px;

      .main_title {
        font-size: 4rem;
        max-width: 500px;
        text-transform: uppercase;
        letter-spacing: -1px;
        line-height: 60px;
        font-weight: 900;
        color: $primary_color;
      }

      .main_description {
        font-size: 1.2rem;
        max-width: 600px;
        margin: 30px 0 50px 0;
      }

      .main_link {
        text-decoration: none;
        padding: 16px 32px;
        background-color: $primary_color;
        border: 3px solid $primary_color;
        box-shadow: 0 6px 20px rgba(251, 0, 109, 0.5);
        color: white;
        font-weight: 700;
        border-radius: 16px;
        letter-spacing: 2px;
        transition: 0.3s ease;

        &:hover {
          background-color: transparent;
          box-shadow: unset;
          color: $primary_color;
        }
      }
    }

    @keyframes float {
      0% {
        filter: drop-shadow(0 5px 15px 0px rgba(0, 0, 0, 0.6));
        transform: translatey(0px);
      }
      50% {
        filter: drop-shadow(0 25px 15px 0px rgba(0, 0, 0, 0.2));
        transform: translatey(-20px);
      }
      100% {
        filter: drop-shadow(0 5px 15px 0px rgba(0, 0, 0, 0.6));
        transform: translatey(0px);
      }
    }

    .interaction_container {
      animation: float 6s ease-in-out infinite;

      .card {
        position: relative;
        min-width: 425px;
        padding: 32px;
        margin: 20px;
        border-radius: 10px;
        color: #f1f1f1;
        transform: skewY(-5deg);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
        background: rgb(43, 44, 44);
        overflow: hidden;

        .italic {
          font-style: italic;
        }

        .important {
          margin: 5px;
          font-size: 1.5rem;
          font-weight: bold;
        }

        .payment_header {
          margin-bottom: 20px;
          .title {
            font-size: 1.8rem;
          }
        }

        .payment_info {
          @include displayFlex(space-between, center, row);

          .image {
            filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.342));
            border-radius: 32px;
            height: 120px;
          }

          .text_container {
            text-align: end;
            width: 65%;
          }
        }

        .indicator_container {
          @include displayFlex(space-between, center, row);
          background: #414242;
          box-shadow: 0 5px 15px rgba(38, 39, 39, 0.5);
          padding: 12px 20px;
          border-radius: 16px;
          margin: 20px 0;
          margin-bottom: 30px;
          user-select: none;

          .calcs,
          #minus,
          #plus {
            @include displayFlex(center, center, row);
          }

          #minus,
          #plus {
            cursor: pointer;
            padding: 5px 13px;
          }
        }

        .total_container {
          @include displayFlex(space-between, center, row);
          padding: 10px 0;
          margin: 10px 0;
          border-top: 1px solid white;
          border-bottom: 1px solid white;

          .total_text {
            letter-spacing: 2px;
          }

          .actual_price {
            font-size: 1.2rem;
          }
        }

        .purchase-button {
          margin-top: 20px;
          width: 100%;
          font-size: 1.3rem;
          cursor: pointer;
          padding: 15px;
          border-radius: 10px;
          border: 2px solid $primary_color;
          color: white;
          box-shadow: 0 6px 20px rgba(251, 0, 109, 0.7);
          background-color: $primary_color;
          text-transform: uppercase;
          font-weight: bold;
          outline: none;
          transition: 0.3s ease;

          &:hover {
            color: white;
            letter-spacing: 2px;
            box-shadow: unset;
            background-color: transparent;
          }
        }

        &::after,
        &::before {
          position: absolute;
          content: "";
          z-index: -1;
          background: rgb(43, 44, 44);
          transition: 0.3s ease;
        }

        &::before {
          bottom: 0;
          left: 0;
          height: 5px;
          width: 100%;
          border-bottom-right-radius: 50px;
          border-bottom-left-radius: 50px;
        }

        &::after {
          right: 0;
          top: 0;
          height: 100%;
          width: 5px;
          border-top-right-radius: 50px;
          border-bottom-right-radius: 50px;
        }

        &:hover::after,
        &:hover::before {
          background: $primary_color;
        }
      }
    }

    @media screen and (max-width: 1050px) {
      flex-direction: column;

      .left_side {
        @include displayFlex(center, center, column);
        text-align: center;
        margin-right: unset;
      }

      .interaction_container {
        margin-top: 75px;
      }
    }
  }
}
