$colors: (
  primary: (
    400: hsla(218deg 82% 64% / 100%),
    600: hsla(218deg 80% 53% / 100%),
    800: hsla(225deg 32% 15% / 100%)
  ),
  secondary: (
    200: hsla(225deg 32% 15% / 100%),
    400: hsla(219deg 15% 19% / 100%),
    600: hsla(222deg 19% 14% / 100%),
    800: hsla(222deg 20% 10% / 100%)
  )
);
