@import 'variables';

%no-content {
  position: absolute;
  content: '';
}

%container {
  max-width: 1280px;
  margin-inline: auto;
  padding: 10px 20px;
}

%input {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  transition: $default-transition;
}

%input-autofill {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:valid {
    -webkit-text-fill-color: white;
    box-shadow: 0 0 0 1000px #14171e inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}
