
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
}

/*  Header  */

header {
    position: relative;
    height: 50vh;
    background: linear-gradient(to top, #1633ff 0%, #0069ff 100%);
    font-family: sans-serif;
}

header::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background: url('../images/Header/horizontal-shape-2.png') no-repeat center bottom;
    background-size: 100% 100%;
}

header::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 87px;
    background: url('../images/Header/main-shape-curve.png') no-repeat center bottom;
    background-size: 100% 100%;
}

/*  NavBar  */

header nav {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    border-bottom: 1px solid rgba(236, 236, 236, 0.171);
    z-index: 69;
}

header nav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav .logo h1 {
    margin-left: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    font-family: PoppinsRegular;
    letter-spacing: 1px;
    font-weight: bolder;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin: 10px;
}

header nav ul li a {
    position: relative;
    padding: 10px 0;
    color: rgb(240, 240, 240);
    text-decoration: none;
    font-family: PTSans, sans-serif;
}

header nav ul li a.active::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
}

header nav ul li > a::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    border-radius: 20px;
    background-color: #fff;
    transition: .5s ease-in-out;
}

header nav ul li > a:hover::before {
    width: 100%;
}

header nav ul li a .fa-chevron-down {
    font-size: 12px;
    margin-left: 3px;
}

header nav ul li .dropdown {
    display: flex;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    background-color: #fff;
    border-radius: 6px;
    padding: 15px 25px;
    height: 160px;
    width: 300px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
    transition: 300ms ease;
    transform: translateY(-30px);
    z-index: 11;
}

header nav ul li:nth-child(3) .dropdown {
    height: 80px;
    width: 250px;
}

header nav ul li:nth-child(4) .dropdown {
    height: 220px;
    width: 360px;
}

header nav ul li:nth-child(5) .dropdown, header nav ul li:nth-child(6) .dropdown {
    height: 130px;
    width: 280px;
}

header nav ul li .dropdown::after {
    content: '';
    position: absolute;
    top: -8px;
    left: 20px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #fff;
}

header nav ul li:last-child .dropdown.active {
    transform: translate(-150px, 20px);
}

header nav ul li:last-child .dropdown::after {
    left: 200px;
}

header nav ul li .dropdown.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(20px);
}

header nav ul li .dropdown li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

header nav ul li .dropdown li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    width: 70%;
    transition: 300ms ease;
    border-radius: 12px;
}

header nav ul li .dropdown li a img {
    margin-right: 10px;
}

header nav ul li .dropdown li a:hover {
    background-color: rgb(245, 245, 245);
}

header nav ul li .dropdown li .price {
    margin-left: 10px;
    width: 70px;
    text-align: center;
}

header nav ul li .dropdown li .price p:first-child {
    color: rgb(71, 71, 71);
    font-size: 10px;
    text-transform: uppercase;
}

header nav ul li .dropdown li .price p:last-child {
    text-align: center;
    font-size: 10px;
    padding: 3px;
    border-radius: 10px;
    background-color: #3f509c;
    color: #fff;
    font-weight: bold;
}

/* NavBar Mobile Menu */

.mobile-menu-btn {
    display: none;
}

header nav .mobile-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

header nav .mobile-menu .burger {
    display: flex;
    flex-direction: row-reverse;
    width: 35px;
    height: 4px;
    background-color: #fff;
    border-radius: 8px;
    transition: .5s ease-in-out;
}

header nav .mobile-menu .burger::before,
header nav .mobile-menu .burger::after { 
    content: '';
    position: absolute;
    width: 35px;
    height: 4px;
    background-color: #fff;
    border-radius: 8px;
    transition: .5s ease-in-out;
}

header nav .mobile-menu .burger::before {
    transform: translateY(-10px);
    width: 25px;
}

header nav .mobile-menu .burger::after {
    transform: translateY(10px);
    width: 15px;
}

header nav .mobile-menu.active .burger {
    background: transparent;
    transform: translateX(-50px);
}

header nav .mobile-menu.active .burger::before {
    transform: rotate(45deg) translate(40px, -40px);
    width: 35px;
}

header nav .mobile-menu.active .burger::after {
    transform: rotate(-45deg) translate(40px, 40px);
    width: 35px;
}

/*  Responsive NavBar  */

@media screen and (max-width: 900px) {
    header nav ul li {
        font-size: 14px;
    }

    header nav .logo h1 {
        font-size: 20px;
    }

    header nav .logo img {
        height: 30px;
    }
}

@media screen and (max-width: 800px) {
    header nav {
        justify-content: space-between;
        padding: 0 75px;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        top: 15vh;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
        height: 85vh;
        width: 60%;
        background-color: #fff;
        transform: translateX(100%);
        transition: .5s ease;
    }

    header nav ul.nav-active {
        transform: translateX(0%);
    }

    header nav ul li a {
        color: #000;
        font-size: 18px;
    }

    header nav ul li > a::before, header nav ul li a.active::before {
        background-color: #4492ff;
    }

    header nav ul li .dropdown, header nav ul li .fa-chevron-down {
        display: none;
    }

    .mobile-menu-btn {
        display: block;
    }
}

@media screen and (max-width: 400px) {
    header nav {
        justify-content: space-between;
        padding: 0 30px;
    }
}

/*  Header Content  */

header .header-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 35vh;
}

header .header-content::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: url('../images/Header/horizontal-shape.png') no-repeat center bottom;
    background-size: 100% 100%;
}

header .header-content::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/Header/vertical-shape-2.png') no-repeat right bottom;
    background-size: 10% 100%;
}

header .header-content p {
    color: #f0f0f0;
    font-size: 14px;
    text-transform: uppercase;
}

header .header-content .title {
    color: #fff;
    max-width: 80%;
    text-align: center;
}

/*  Informations (CoreHost)  */

.informations {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.informations .title, .informations .description {
    max-width: 85%;
    text-align: center;
}

.informations .title {
    font-family: PoppinsBold;
    margin-bottom: 10px;
}

.informations .description {
    font-family: PoppinsRegular;
    margin-bottom: 50px;
    color: rgb(68, 68, 68);
}

.informations .description:last-child {
    margin-bottom: 0;
}

/*  Footer  */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 70vh;
}

footer .top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55vh;
    width: 100%;
    background-color: #113072;
}

footer .top .box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20%;
}

footer .top .box .title {
    position: relative;
    font-family: PoppinsBold;
    color: rgb(241, 241, 241);
    margin-bottom: 30px;
}

footer .top .box .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 40%;
    height: 3px;
    border-radius: 20px;
    background-color: #1e67a7;
}

footer .top .box ul {
    list-style: none;
    margin-top: 10px;
}

footer .top .box ul li {
    margin-top: 10px;
}

footer .top .box ul li a {
    color: rgb(187, 187, 187);
    font-family: SourceSansPro;
    text-decoration: none;
    transition: 500ms ease;
}

footer .top .box ul li a:hover {
    color: rgb(255, 255, 255);
}

footer .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 100%;
    padding: 0 100px;
    background-color: #0d2352;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

footer .bottom .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    font-family: PoppinsRegular;
    letter-spacing: 1px;
    font-weight: bolder;
}

footer .bottom .logo img {
    margin-right: 10px;
    height: 30px;
}

footer .bottom p {
    color: #fff;
    font-family: PTSans;
    font-weight: 500;
}

footer .bottom span {
    color: royalblue;
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    footer .top {
        flex-direction: column;
        height: 100%;
        padding: 50px;
    }

    footer .top .box {
        width: 100%;
        margin: 20px;
    }

    footer .bottom {
        flex-direction: column;
        justify-content: center;
        height: 100%;
        text-align: center;
        padding: 20px;
    }
}
