@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  background-color: rgb(46, 45, 58);
}

#message-container {
  width: 80%;
  max-width: 1200px;
}

#message-container div {
  background-color: #ccc;
  padding: 5px;
}

#message-container div:nth-child(odd) {
  background-color: #fff;
}

#send-container {
  position: fixed;
  padding-bottom: 30px;
  bottom: 0;
  max-width: 1200px;
  width: 80%;
  display: flex;
}

#message-input {
  flex-grow: 1;
}

#send-button {
  width: 20%;
}
