@import "./../settings", "./../components/navbar", "./../components/footer";

.main {
  @include centerAll();
  padding: 50px 0;

  .article {
    display: flex;
    width: 800px;
    height: 500px;

    &_aside__tools {
      display: flex;
      flex-flow: column wrap;
      width: max-content;
      height: 100%;
      padding: 5px 0;
      background-color: rgb(32, 31, 31);
      box-shadow: 5px 0 15px rgba($color: #000000, $alpha: 0.25);
      z-index: 10;

      &-tool {
        outline: none;
        background: none;
        margin-right: 1px;
        border: none;
        padding: 10px;
        width: 100%;
        font-size: 1.1rem;
        cursor: pointer;
        transition: $default-transitionEffect;

        & #aside_icon {
          color: $primary_color;
          text-shadow: 0 0 5px rgba($color: $primary_color, $alpha: 0.5);
          transition: $default-transitionEffect;
        }

        &:hover {
          background-color: rgb(46, 46, 46);

          #aside_icon {
            text-shadow: none;
            transform: rotate(20deg);
          }
        }
      }
    }

    &_aside__container {
      width: 100%;
      height: 100%;
      box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.2);

      & .textarea_input {
        font-family: $default-fontFamily;
        padding: 10px 15px;
        resize: none;
        outline: none;
        border: none;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: rgb(53, 53, 53);
        color: white;
        height: 100%;
        width: 100%;
      }
    }
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    max-width: 615px;
    padding: 0 30px;

    &_field {
      padding: 20px;

      &-title {
        color: white;
      }

      &-input {
        margin-top: 5px;
        height: 45px;
        padding: 0 20px;
        max-width: 250px;
        outline: none;
        border: none;
        border-radius: 4px;
        font-family: $default-fontFamily;
        background-color: rgb(53, 53, 53);
        color: white;
        transition: $default-transitionEffect;

        &::placeholder {
          color: white;
          opacity: 0.3;
        }
      }

      input:disabled {
        cursor: not-allowed;
        opacity: 0.3;
      }

      label {
        margin-left: 5px;
        color: rgb(185, 185, 185);
      }

      &__checkbox-forpassword {
        margin-bottom: 5px;
      }

      &__label-forpassword {
        margin-left: 5px;
        color: rgb(190, 190, 190);
      }

      &.agrements {
        width: 65%;
        line-height: 30px;
      }
    }

    &_submitButton {
      height: 50px;
      min-width: 500px;
      font-size: 1.1rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 600;
      outline: none;
      cursor: pointer;
      border: 2px solid $primary_color;
      background-color: $primary_color;
      color: white;
      border-radius: 8px;
      transition: $default-transitionEffect;

      &:hover {
        color: $primary_color;
        background-color: transparent;
      }
    }
  }
}
