
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, rgb(255, 0, 255), rgb(95, 24, 95));
  font-family: 'Poppins';
}

.content {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.box {
  width: 50em;
  height: 14em;
  background-color: #36393f;
  border-radius: 13px;

}

.img {
  width: 350px;
  height: 14em;
  float: right;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
}

h2 {
  margin: 15px;
  color: white;
}

p {
  margin: 15px;
  font-size: 14px;
  word-wrap: initial;
  color: rgb(197, 197, 197);
}

#btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: 0;
  margin: 40px 0 auto 20px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-family: 'Poppins';
  background-color: rgb(105, 180, 105);
  transition: 500ms ease;
}

#btn:hover {
  background-color: rgb(91, 156, 91);
}

#date {
  float: right;
  margin-top: 70px;
}
