<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/pages/404.css" />
</head>

<body>
    <main>
        <h1>Cette page est inexistante &#128553;</h1>
        <a href="/">Revenir à la page d'accueil <i class="fas fa-angle-double-right"></i></a>
    </main>
</body>
</html>