
header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    z-index: 1;
}

header section.right-side {
    width: 40%;
}

header section.right-side h1 {
    font-size: 3.5rem;
    color: #68D5BD;
    letter-spacing: 3px;
    font-family: Quartian, sans-serif;
}

header section.right-side p {
    color: #fff;
    text-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    margin: 20px 0 40px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header section.right-side button {
    outline: 0;
    border: none;
    cursor: pointer;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 50px;
    color: #fff;
    padding: 15px 30px 15px 30px;
    background-image: linear-gradient(to right, #FF512F 0%, #F09819 51%, #FF512F 100%);
    background-size: 200%;
    transition: 500ms ease;
}

header section.right-side button:hover {
    background-position: right center;
}

/***********************************************************************************************/

section.space {
    height: 50px;
    text-align: center;
    transform: translateY(-50px);
}

section.space .fa-chevron-down {
    font-size: 2em;
    color: #fff;
    animation: animation 1.2s ease-in alternate infinite;
}

@keyframes animation{
    from {
      transform: translateY(0);
    }

    to {
        transform: translateY(10px);
    }
}

/***********************************************************************************************/
section.content {
    display: flex;
}

section.content .right-main-side, section.content .left-main-side {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section.content .right-main-side {
    width: 30%;
}

section.content .left-main-side {
    width: 70%;
}

section.content .left-main-side #title {
    position: relative;
    color: rgb(36, 36, 36);
    font-size: 1.5rem;
    margin-bottom: 10px;
    padding: 20px;
    margin-top: 20px;
    font-family: sans-serif;
}

section.content .left-main-side #title::after {
    content: '';
    position: absolute;
    bottom: 15px;
    left: 65px;
    width: 30%;
    height: 2px;
    background-color: #000;
}

section.content .left-main-side #title::before {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 100px;
    width: 30%;
    height: 2px;
    background-color: #000;
}

section.content .left-main-side .description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    height: 300px;
    width: 90%;
    background-color: rgb(247, 247, 247);
    border-left: 7px solid #F78618;
}

section.content .left-main-side .description p {
    color: #000;
    margin-right: 20px;
}

section.content .left-main-side .description ul {
    margin-top: 20px;
    transform: translateX(50px);
}

/****************************************************/

section.content .right-main-side {
    width: 30%;
}

section.content .right-main-side .twitter-card, section.content .right-main-side .facebook-card, section.content .right-main-side .music-card {
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    height: 300px;
    width: 340px;
    margin: 20px;
    transition: 500ms ease;
    overflow-y: hidden;
}

section.content .right-main-side .twitter-card:hover, section.content .right-main-side .facebook-card:hover, section.content .right-main-side .music-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1.01);
}

section.content .right-main-side .twitter-card .top, section.content .right-main-side .facebook-card .top, section.content .right-main-side .music-card .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    padding: 0 10px 0 10px;
    background-color: rgb(56, 56, 56);
    border-bottom: 4px solid #F78618;
    color: #fff;
}

section.content .right-main-side .twitter-card .top .content, section.content .right-main-side .facebook-card .top .content, section.content .right-main-side .music-card .top .content {
    display: flex;
    align-items: center;
}

section.content .right-main-side .twitter-card .top .content p, section.content .right-main-side .facebook-card .top .content p, section.content .right-main-side .music-card .top .content p {
    margin-left: 5px;
    font-size: 14px;
}

section.content .right-main-side .facebook-card .bottom, section.content .right-main-side .music-card .bottom {
    height: 85%;
}

section.content .right-main-side .music-card .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

section.content .left-main-side .description2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    width: 90%;
}

section.content .left-main-side .description2 .box {
    height: 250px;
    width: 330px;
    margin: 30px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
}

section.content .left-main-side .description2 .box p {
    margin-top: 20px;
}

/***********************************************************************************************/

@media screen and (max-width: 1280px) {
    section.content {
        height: 200vh;
    }
}

@media screen and (max-width: 1024px) {
    section.content {
        flex-direction: column;
        height: 220vh;
    }

    section.content .left-main-side .description {
        height: 100%;
        width: 100%;
    }

    section.content .right-main-side {
        display: none;
    }
}

@media screen and (max-height: 600px) {
    section.content {
        height: 270vh;
    }
}
