$colors: (
  primary: (
    400: hsl(355, 70%, 54%),
    600: hsl(355, 66%, 50%),
  ),
  secondary: (
    200: hsl(0, 0%, 100%),
    400: hsl(0, 0%, 80%),
    600: hsl(0, 0%, 60%),
    800: hsl(0, 0%, 40%),
    1000: hsl(0, 0%, 20%),
  ),
);
