@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

main {
  position: relative;
  background: url("../../assets/Background.jpg") no-repeat center center;
  background-size: cover;
  z-index: 0;
  overflow: hidden;
}

main #particles-js {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 10000000000;
  pointer-events: none;
}

main::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1000;
}

@supports ((-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))) {
  main::before {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
}

@supports not ((-webkit-backdrop-filter: blur(12px)) or (backdrop-filter: blur(12px))) {
  main::before {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

a {
  text-decoration: none;
}

.rc-anchor-light {
  background: #000 !important;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid;
  min-height: 100vh;
}

main .main_title {
  text-align: center;
  margin-bottom: 20px;
  color: white;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

@-webkit-keyframes shine {
  to {
    background-position: 200% center;
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.home_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home_content section {
  padding: 10px 20px;
  height: 60px;
  overflow: hidden;
  -webkit-transition: 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.home_content section .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
}

.home_content section .title .text {
  margin-left: 10px;
}

.home_content section .list_items {
  width: 100%;
  overflow-y: auto;
  padding-left: 20px;
  margin-top: 10px;
  color: #e2e2e2;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.home_content section .list_items a {
  color: #488ad4;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.home_content section .list_items a:hover {
  opacity: 0.7;
}

.home_content section.news {
  width: 150px;
  background: linear-gradient(225deg, #46484e, #34353a);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.home_content section.news:hover {
  width: 250px;
  height: 150px;
}

.home_content section.endpoints {
  width: 200px;
  background: linear-gradient(225deg, #34353a, #46484e);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.home_content section.endpoints .list_items {
  height: 75px;
}

.home_content section.endpoints:hover {
  width: 300px;
}

.home_content section:hover {
  height: 150px;
}

.home_content section:hover .list_items {
  opacity: 1;
}

.home_content .main_container {
  padding: 30px 70px;
  border-radius: 16px;
  background: linear-gradient(-225deg, #4d66c3, #11256d);
  -webkit-box-shadow: 0 20px 50px rgba(77, 102, 195, 0.25);
          box-shadow: 0 20px 50px rgba(77, 102, 195, 0.25);
}

.home_content .main_container .title {
  text-align: center;
  color: white;
  font-size: 3rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #ffffff), color-stop(40%, #4d66c3), color-stop(60%, #4d66c3), color-stop(80%, #ffffff));
  background: linear-gradient(to right, #ffffff 20%, #4d66c3 40%, #4d66c3 60%, #ffffff 80%);
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 1s linear infinite;
          animation: shine 1s linear infinite;
}

.home_content .main_container .links_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 10px;
  gap: 20px;
}

.home_content .main_container .links_container .icon_button {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  height: auto;
  opacity: 0.7;
}

.home_content .main_container .links_container .icon_button:hover {
  opacity: 1;
}

@media screen and (max-width: 850px) {
  .home_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home_content section {
    border-radius: 8px;
  }
  .home_content section.news {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .home_content section.endpoints {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}

@media screen and (max-width: 525px) {
  main .main_container {
    width: calc(250px + 100vw - 300px);
    padding: 30px 10px !important;
  }
  main .main_container .title {
    font-size: 2rem !important;
  }
}

@use "../abstracts/mixins" as *;
.uploadFile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border-radius: 12px;
  margin: 20px 0;
  height: 150px;
  color: white;
  background-color: #3a3a3a;
  overflow: hidden;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 16px;
  cursor: pointer;
  z-index: 1;
}

.uploadFile::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='rgba(255, 255, 255, 0.3)' stroke-width='4' stroke-dasharray='7%2c 10%2c 24%2c 19' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 16px;
  z-index: -2;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.uploadFile .icon {
  margin-bottom: 10px;
  -webkit-filter: drop-shadow(0 5px 20px rgba(255, 255, 255, 0.3));
          filter: drop-shadow(0 5px 20px rgba(255, 255, 255, 0.3));
}

.uploadFile .icon,
.uploadFile .text {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.uploadFile:hover {
  background-position: right;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.uploadFile:hover .icon,
.uploadFile:hover .text {
  font-size: 1.25rem;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.uploadFile:hover::before {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  color: #a8a8a8;
}

.alert .link {
  color: white;
  margin-left: 4px;
  margin-bottom: 20px;
}

@use "../abstracts/mixins" as *;
@use "../core/core" as *;
.settings_field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  padding: 0 20px;
  margin: 0 20px;
  border-radius: 16px;
  background: #303030;
}

.settings_field .title {
  color: white;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  letter-spacing: 1px;
  margin: 20px 0;
}

.settings_field .field_container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (minmax(325px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
}

.settings_field .field_container .toggle_field {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 325px;
  padding: 15px 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(97, 97, 97, 0.4);
}

.settings_field .field_container .toggle_field:last-child {
  border-bottom: none;
}

.settings_field .field_container label {
  color: #d6d6d6;
  font-weight: 600;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.settings_field .field_container .toggleSwitch {
  position: relative;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 3.5em;
  background-color: #3a3a3a;
  border-radius: 2em;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  height: 2em;
  cursor: pointer;
  margin: 5px 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.settings_field .field_container .toggleSwitch::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 5px;
  border-radius: 50px;
  height: 1.3em;
  width: 1.3em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform-origin: left;
          transform-origin: left;
  background-color: white;
  -webkit-box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.settings_field .field_container .toggleSwitch:hover::after {
  -webkit-transform: translateY(-50%) scale(1.1);
          transform: translateY(-50%) scale(1.1);
}

.settings_field .field_container .toggleSwitch:checked::after {
  left: 25px;
}

.settings_field .field_container .toggleSwitch:checked {
  background-color: #36ad36;
}

@media screen and (max-width: 600px) {
  .settings_field {
    width: 100%;
    border-radius: 0;
  }
}

@use "../abstracts/mixins" as *;
.modal-backdrop {
  position: absolute;
  place-items: center;
  display: -ms-grid;
  display: grid;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9;
  opacity: 0;
  visibility: hidden;
}

.modal-backdrop.active {
  opacity: 1;
  visibility: visible;
}

.modal-backdrop.active .modal {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.modal-backdrop .modal {
  padding: 24px 50px;
  background-color: #303030;
  border-radius: 16px;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.modal-backdrop .modal .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
  text-align: center;
}

.modal-backdrop .modal .muted {
  font-size: 1rem;
  color: #d9d9d9;
  margin-bottom: 6px;
}

.modal-backdrop .modal .normal {
  font-size: 1.25rem;
  font-weight: 600;
}

.modal-backdrop .modal .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 16px;
}

.modal-backdrop .modal .buttons button {
  outline: none;
  padding: 15px 30px;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.modal-backdrop .modal .buttons button:first-child {
  color: black;
  border: 2px solid white;
}

.modal-backdrop .modal .buttons button:first-child:hover {
  background: transparent;
  color: white;
}

.modal-backdrop .modal .buttons button:last-child {
  background-color: #aa4b4b;
  border: 2px solid #aa4b4b;
}

.modal-backdrop .modal .buttons button:last-child:hover {
  background: transparent;
  color: #aa4b4b;
}

.page_header {
  position: absolute;
  z-index: 100000;
  right: 0;
  top: 60px;
  right: 50px;
}

.page_header img {
  max-width: 48px;
}

.page_header .stancredit {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #303030;
  padding: 10px 25px;
  border-radius: 16px;
  gap: 16px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
}

.page_header .stancredit .balance {
  font-weight: 500;
  color: white;
}

.plugin_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: wrap row;
      flex-flow: wrap row;
  max-width: 1200px;
  padding: 50px;
  gap: 25px;
}

.plugin_container .plugin_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #303030;
  padding: 25px 30px;
  border-radius: 16px;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
}

.plugin_container .plugin_item .plugin_name {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  font-size: 1.5rem;
}

.plugin_container .plugin_item .plugin_name img {
  max-width: 30px;
  margin-left: 30px;
}

.plugin_container .plugin_item .plugin_description {
  color: #d9d9d9;
  max-width: 300px;
  margin-bottom: 10px;
  font-size: 0.875rem;
}

.plugin_container .plugin_item .plugin_description ul {
  margin: 15px;
}

.plugin_container .plugin_item .plugin_status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: auto;
}

.plugin_container .plugin_item .plugin_status button.using, .plugin_container .plugin_item .plugin_status button.use, .plugin_container .plugin_item .plugin_status button.buy {
  border: none;
  outline: none;
  padding: 1em 3em;
  border-radius: 6px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  color: white;
}

.plugin_container .plugin_item .plugin_status button.using {
  background-color: #50b480;
  cursor: not-allowed;
  opacity: 0.6;
}

.plugin_container .plugin_item .plugin_status button.use {
  background-color: #50b480;
}

.plugin_container .plugin_item .plugin_status button.use:hover {
  background-color: #3f9267;
}

.plugin_container .plugin_item .plugin_status button.buy {
  background-color: #699bf7;
}

.plugin_container .plugin_item .plugin_status button.buy:hover {
  background-color: #387af5;
}

.plugin_container .plugin_item .plugin_status .plugin_credits {
  font-size: 0.8rem;
  padding-left: 30px;
  color: #97a9b4;
}

@media screen and (max-width: 1200px) {
  .plugin_container {
    padding: 100px 50px;
  }
}

@media screen and (max-width: 780px) {
  .plugin_container {
    margin: 50px 0;
  }
  .plugin_container .plugin_item {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .page_header {
    right: 0;
    width: 100%;
  }
  .page_header .stancredit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    border-radius: 0;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

main {
  position: relative;
  background: url("../../assets/Background.jpg") no-repeat center center;
  background-size: cover;
  z-index: 0;
  overflow: hidden;
}

main #particles-js {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 10000000000;
  pointer-events: none;
}

main::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1000;
}

@supports ((-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))) {
  main::before {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
}

@supports not ((-webkit-backdrop-filter: blur(12px)) or (backdrop-filter: blur(12px))) {
  main::before {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

a {
  text-decoration: none;
}

@use "../abstracts/mixins" as *;
@use "../helpers/input" as *;
@use "../helpers/input" as *;
.logo {
  height: 125px;
  margin-bottom: 50px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.container .field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #dfdfdf;
  padding: 0 10px;
  text-shadow: 0 0 10px black;
  letter-spacing: 2px;
}

.container .field .important {
  font-weight: bold;
  color: white;
  margin-right: 10px;
  letter-spacing: 0;
}

.container .field .chars {
  position: relative;
  display: block;
  width: 250px !important;
  cursor: pointer;
  color: #676ed6;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: underline;
}

.container .field .text_clipboard {
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(0.5);
          transform: translateX(-50%) scale(0.5);
  background-color: #53bb53;
  font-weight: bold;
  border-radius: 8px;
  z-index: 10;
  padding: 10px 20px;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  opacity: 0;
  visibility: hidden;
}

.container .field .text_clipboard::after {
  position: absolute;
  content: "";
  top: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom: 10px solid #53bb53;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.container .field .text_clipboard.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
}

.container button {
  padding: 20px 50px;
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
  margin-top: 50px;
  background: linear-gradient(-225deg, #4d66c3, #11256d);
  background-size: 200%;
  -webkit-box-shadow: 0 20px 50px rgba(77, 102, 195, 0.25);
          box-shadow: 0 20px 50px rgba(77, 102, 195, 0.25);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.container button:hover {
  background-position: right;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  min-height: 100vh;
  min-width: 100vw;
  gap: 20px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background-color: rgba(0, 0, 0, 0.85);
}

form .close_button {
  position: absolute;
  top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(0deg);
          transform: translateX(-50%) rotate(0deg);
  cursor: pointer;
  color: white;
  font-size: 2rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

form .close_button:hover {
  -webkit-transform: translateX(-50%) rotate(90deg);
          transform: translateX(-50%) rotate(90deg);
}

form input[type="password"] {
  padding: 15px 5px 15px 20px;
  color: white;
  max-width: 250px;
  background-color: #303030;
}

form input[type="password"]::-webkit-input-placeholder {
  color: white;
}

form input[type="password"]:-ms-input-placeholder {
  color: white;
}

form input[type="password"]::-ms-input-placeholder {
  color: white;
}

form input[type="password"]::placeholder {
  color: white;
}

form input[type="submit"] {
  padding: 15px 30px;
  margin-top: 20px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  background: linear-gradient(-225deg, #4d66c3, #11256d);
  -webkit-box-shadow: 0 20px 50px rgba(77, 102, 195, 0.25);
          box-shadow: 0 20px 50px rgba(77, 102, 195, 0.25);
  border-radius: 8px;
  background-size: 200%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

form input[type="submit"]:hover {
  background-position: right;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

form.shown {
  opacity: 1;
  visibility: visible;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

main {
  position: relative;
  background: url("../../assets/Background.jpg") no-repeat center center;
  background-size: cover;
  z-index: 0;
  overflow: hidden;
}

main #particles-js {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 10000000000;
  pointer-events: none;
}

main::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1000;
}

@supports ((-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))) {
  main::before {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
}

@supports not ((-webkit-backdrop-filter: blur(12px)) or (backdrop-filter: blur(12px))) {
  main::before {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

a {
  text-decoration: none;
}

.container button, form input[type="password"], .form_container .input_group input, .form_container .core_button {
  border: none;
  outline: none;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.form_container {
  padding: 30px;
  border-radius: 16px;
  background: #303030;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
          box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
}

.form_container .input_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form_container .input_group label {
  color: #d9d9d9;
  margin: 0 0 10px 10px;
  font-size: 13px;
}

.form_container .input_group input {
  padding: 15px;
  color: white;
  background-color: #343538;
}

.form_container .input_group input::-webkit-input-placeholder {
  color: #a8a8a8;
}

.form_container .input_group input:-ms-input-placeholder {
  color: #a8a8a8;
}

.form_container .input_group input::-ms-input-placeholder {
  color: #a8a8a8;
}

.form_container .input_group input::placeholder {
  color: #a8a8a8;
}

.form_container .input_group input:focus {
  background-color: #3c3d41;
}

.form_container .g-recaptcha {
  margin: 20px 0;
}

.form_container .core_button {
  padding: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  color: white;
  background: linear-gradient(160deg, #63ec63, #3ca53c);
  -webkit-box-shadow: 0 10px 30px #63ec6336;
          box-shadow: 0 10px 30px #63ec6336;
  background-size: 200%;
}

.form_container .core_button:hover {
  background-position: right;
  -webkit-box-shadow: 0 10px 30px #63ec6317;
          box-shadow: 0 10px 30px #63ec6317;
}

.form_container .seperation {
  margin: 30px 0 25px 0;
  opacity: 0.2;
}

.form_container .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  color: white;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.form_container .link:hover {
  opacity: 0.6;
}

.form_container .link .icon {
  margin-right: 10px;
}

footer {
  position: fixed;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  letter-spacing: 1px;
  z-index: 0;
}

@use "../core/core" as *;
@use "../abstracts/mixins" as *;
.floating_toolbar {
  position: absolute;
  top: 0;
  right: 50px;
  background-color: #303030;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 0 10px;
  overflow: hidden;
  z-index: 1000;
}

.floating_toolbar .fbtl_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.floating_toolbar .fbtl_container .tool_button {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  opacity: 0.8;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.floating_toolbar .fbtl_container .tool_button:hover, .floating_toolbar .fbtl_container .tool_button.active {
  opacity: 1;
  background-color: #404040;
}

.floating_toolbar .fbtl_container .tool_button .material-icons {
  font-size: 20px;
}

@media screen and (max-width: 420px) {
  .floating_toolbar {
    width: 100%;
    right: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.core_select {
  -webkit-appearance: none;
  border: none;
  outline: none;
  background-color: #616161;
  border-radius: 6px;
  font-size: 15px;
  border: 1px solid transparent;
  padding: 10px 12px;
  color: white;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  min-width: 100px;
  cursor: pointer;
}

.core_select::-webkit-input-placeholder {
  color: #a8a8a8;
}

.core_select:-ms-input-placeholder {
  color: #a8a8a8;
}

.core_select::-ms-input-placeholder {
  color: #a8a8a8;
}

.core_select::placeholder {
  color: #a8a8a8;
}

.core_select:focus {
  background-color: #595959;
  border: 1px solid #50b480;
}
/*# sourceMappingURL=main.css.map */