// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

// Global Variables
$primary_color: hsl(135, 88%, 38%);

$default-fontFamily: "Poppins", sans-serif;
$default-fontSize: 100%;
$default-transitionEffect: 0.3s ease;
$body_background: radial-gradient(
  100% 100% at 50% 0%,
  #282a2b 0%,
  #212223 100%
);

// Directives
@mixin centerAll {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Default Styling
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $default-fontFamily;
  font-size: $default-fontSize;
  background: $body_background no-repeat;
  background-size: cover;
}
