<!DOCTYPE html>
<html>
<head>
    <title>Tigrouland | <%= title %></title>
    <link rel="icon" type="image/png" href="/images/icons/favicon.png" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
    <!-- Fonts -->
    <link rel="stylesheet" href="/fonts/Questrian/Questrian.css" />
    <link rel="stylesheet" href="/fonts/Ubuntu/Ubuntu.css" />
    <link rel="stylesheet" href="/fonts/Poppins/Poppins.css" />
    <link rel="stylesheet" href="/fontawesome/css/all.min.css" />

    <!-- Styles -->
    <link rel="stylesheet" href="/css/footer.css" />
    <% if (path !== "/maintenance") { %>                                 
        <link rel="stylesheet" href="/css/navigation.css" />
    <% } %>
    <link rel="stylesheet" href="/css/style.css" />