<main>
    <nav>
        <img src="/images/logo.png" height="90" />
        <ul class="nav-links">
            <li><a class="<%= path === '/home' ? 'active' : '' %>" href="/"><i class="fas fa-home"></i>Accueil</a></li>
            <li><a class="<%= path === '/boutique' ? 'active' : '' %>" href="/boutique"><i class="fas fa-coins"></i>Boutique</a></li>
            <li><a href="/404"><i class="fas fa-users"></i>Forum</a></li>
            <li><a class="<%= path === '/faq' ? 'active' : '' %>" href="/faq"><i class="fas fa-question-circle"></i>F.A.Q</a></li>
            <li><a class="<%= path === '/contact' ? 'active' : '' %>" href="/contact"><i class="fas fa-address-card"></i>Contact</a></li>
        </ul>
        <section class="user">
            <a class="login" href="/404">Connexion</a>
            <a class="register" href="/404">Inscription</a>
        </section>
    </nav>
    <header>
        <section class="right-side">
            <h1>Tigrouland</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem placeat, quo ducimus quidem animi doloremque laudantium voluptatibus nemo.</p>
            <button>Rejoindre</button>
        </section>
        <img src="/images/section-header-img.png" height="400" />
    </header>
</main>