$default_font: "InterRegular";

@font-face {
  font-family: $default_font;
  src: url("/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: $default_font, sans-serif;
}
